.full-label {
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 34px;
    height: 50px;
    z-index: 89;
    background: transparent url('../../images/d/full-label.png') no-repeat;
}

.section-title-bar {
    width: 4px;
    height: 1.25em;
    background: var(--primary-color-2);
    border-radius: 2px;
}